$text_color:#333333;
$w_color:#ffffff;
$primary_color:#555555;
$color_sec:#FFAA00;
$color-tar:#37A6F7;
$heading_color:#221F1F;
$fm_roboto: 'Roboto', sans-serif;
$fm_inter: 'Inter', sans-serif;
$fm_sg: 'Inter', sans-serif;